<!DOCTYPE HTML>
<html>
<head>
    <title>Stream</title>
</head>
<body>
    <label for="url">Url</label>
    <input id="url" type="search" /><br />
    <label for="message">Message</label>
    <input type="text" id="message" /><br/>

</body>
<script>

   var form_url = document.getElementById('url');
   var form_message = document.getElementById('message');
   var format =  {
            'url': "",
            'message': ""
        }
   var streamSocket = new WebSocket(
        'ws://' + 'localhost:8000' + '/ws/stream/'
    );

    streamSocket.onmessage = function(e){
        var data = JSON.parse(e.data);
        url = data['url'] ;
        message = data['message'];
        (url === "") ? void(0) : (form_url.value = url);
        (message === "") ? void(0) : alert(message);
    };
    streamSocket.onclose  = function(e){
        console.error('Chat Socket Closed Unexpectedly');
    }
    
    form_url.onkeyup = function(e){
        if (e.keyCode === 13 ){
            format['url'] = form_url.value;
            streamSocket.send(JSON.stringify(format));
            format['url'] = "";}
    };
    form_message.onkeyup = function(e){
        if(e.keyCode === 13){
            format['message'] = form_message.value;
            streamSocket.send(JSON.stringify(format));
            format['message'] = "";
            form_message.value=""
}
    };
</script>
</html>

